/* Comments section */
.comments-section {
    margin-top: 2rem;
}

.comments-list {
    list-style: none;
    padding: 0;
}

.comments-list li {
    padding: 0.5rem;
    margin: 0.5rem 0;
    text-align: left;
}