.postCard { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border-style: solid;
    border-radius: 20px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.postCard h2 { 
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.postLink { 
    color: white;
    text-decoration: underline;
}

.postLink:hover {
    color: purple;
}
