
.postContainer { 
    align-self: center;
    align-items: start;
    width: 50%;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    margin: 20px;
    padding: 2rem;
    border-radius: 20px;
}