

#root {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  --primary-bg-color: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --primary-text-color: white;
  --secondary-text-color: #dddddd;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

}

.Main { 
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


